.leaderboard {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .card { 
        margin-left: 2rem;
        margin-right: 2rem;
        min-width: 20rem;
        max-width: 32rem;
        width:auto;
        flex-grow: 1;
    }

    table {
        width: 100%;
    }

    
    .title {
    
        white-space: nowrap;
    }

    .leaderboard-list .title {
        font-size: 1.0rem;
    }
}






