
.roster {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .challengers {  
        width: 100%;
    }

}