@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #4d608a;
$pink: #847cfa;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


ul {
    margin-left: 1rem!important;
    margin-top: 1rem!important;
}

h1 {
    font-size: 1.5rem;
}

.page-heading {
    display: block;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}


